/* Games index page*/
.game-box {
	width: 320px;
	height: 300px;
	padding: 10px;
}
.game-box:hover {
	background-color: #F1F1F1;
}


/* Game Images */
.smash-box {
	width: 300px;
	margin-top: 90px;
}
.league-box {
	width: 300px; /* Might have to change on a different image */
	margin-top: 90px;
}
.dota-box {
	width: 300px;
	margin: none;
}
.starcraft-box {
	width: 300px;
	margin-top: 70px;
}
.mystery-box {
	width: 200px;
	height: 200px;
	margin-top: 50px;
}
.sports-box {
	width: 300px;
	margin-top: 60px;
}



/* Game Images */
.smash-pic {
	width: inherit;
}
.league-pic {
	width: inherit; /* Might have to change on a different image */
}
.dota-pic {
	width: inherit;
}
.starcraft-pic {
	width: inherit;
}
.mystery-pic {
	width: inherit;
	height: inherit;
}
.sports-pic {
	width: inherit;
}