/*
 *  Major Scaling at 1040px, 620px
 *
 *
 */

.col-2-group > div {
  /* Removed the padding & margin */
}

@media screen and (min-width: 768px) {
  .col-2-group {
    overflow: hidden;
  }
  .col-2-group > .pic {
    float: left;
    width: 20%;
  }
  .col-2-group > .text {
    float: left;
    width: 80%;
  }
}

.col-3-group > div {
  margin-left: auto;
  margin-right: auto;
  padding: 0 2% 0;
}

@media (max-width: 1039px) and (min-width: 620px) {
  .col-3-group > div {
    float: left;
    width: 50%;
  }
  .col-3-group > div:nth-child(odd) {
    clear: left;
  }
}

@media screen and (min-width: 1040px) {
  .col-3-group {
    overflow: hidden;
  }
  .col-3-group > div {
    float: left;
    width: 33.3333333%;
  }
}