/*
 *  Major Scaling at 1040px, 620px
 *
 *
 */
.equal-pic:hover {
  background-color: #F1F1F1;
  width: inherit;
  height: inherit;
}
.col-2-group > .pic {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}
.col-2-group > .equal-pic {
  width: 200px;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

@media (max-width: 619px) and (min-width: 400px) {
  .col-2-group {
    overflow: hidden;
  }
  .col-2-group > .pic {
    float: left;
    width: 50%;
  }
  .col-2-group > .equal-pic {
    float: left;
    width: 50%;
    height: inherit;
    padding: 2%;
  }
  .col-2-group > .equal {
    clear: left;
  }
  .col-2-group > .text {
    clear: left;
  }
}

@media screen and (min-width: 620px) {
  .col-2-group {
    overflow: hidden;
  }
  .col-2-group > .pic {
    float: left;
    width: 30%;
  }
  .col-2-group > .text {
    float: left;
    width: 70%;
    padding: 2%;
  }
  .col-2-group > .equal {
    float: left;
    width: 50%;
    padding: 2%;
  }
  .col-2-group > .equal-pic {
    float: left;
    width: 50%;
    height: inherit;
    padding: 2%;
  }
  .col-2-group > div:nth-child(odd) {
    clear: left;
  }
}

.col-3-group > div {
  margin-left: auto;
  margin-right: auto;
  padding: 0 2% 0;
}

@media (max-width: 1039px) and (min-width: 620px) {
  .col-3-group {
    overflow: hidden;
  }
  .col-3-group > div {
    float: left;
    width: 50%;
  }
  .col-3-group > div:nth-child(odd) {
    clear: left;
  }
}

@media screen and (min-width: 1040px) {
  .col-3-group {
    overflow: hidden;
  }
  .col-3-group > div {
    float: left;
    width: 33.3333333%;
  }
}