/*
 * Gray: #333333;
 * Dark Gray: #323538;
 * Medium Gray: #42484F;
 *
 * Black: #1A1A1A;
 * Dark Green: #009933; *
 * Light Green: #33cc33;
 *
 */

body {
	font-family: Helvetica;
	background-color: #1A1A1A;
	color: #1A1A1A;
}
footer {
	width: inherit;
	height: 85px;
	padding: 2%;
}
section {
	width: inherit;
	padding: 2%;
}
.content {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (min-width: 1040px) { /* So if it's a big screen, I only take a little place */
	footer {
		width: 1030px;
		height: 70px;
		padding: 15px;
	}

	section {
		width: 1030px;
		padding: 15px;
	}
	.content {
		width: 1030px;
		margin-left: auto;
		margin-right: auto;
	}
}
span {
	width: 100%;

}


/* General Format */
.indent {
	margin-left: 20px;
}
.greenify {
	color: #009933;
}
.smallify {
	font-size: 0.80em;
}
.spacer {
	height: 50px;
}
.line-up {
	position: relative;
}
.center-text {
	text-align: center;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
.underline {
	text-decoration: underline;
}
.remove-a a {
	color: inherit;
	text-decoration: none;
}
.remove-a-not-u a {
	color: inherit;
}
.white {
	background-color: #FFFFFF;
}
.green {
	background: linear-gradient(to right, #009933, #FFFFFF, #FFFFFF, #FFFFFF, #009933);
}



/* Home Page Carousel */
header.carousel {
    height: 400px;
}
header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}
header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


/* Charity Bar */
.charity-bar {
	background: linear-gradient(to right, #FFFFFF, #009933, #FFFFFF);
	height: 50px;	
}
.charity-bar > h2 { /* $$$$ line */
	padding-top: 10px;
}


/* Events & Social */
.see-more {
	color: blue;
}
.see-more:hover {
	text-decoration: underline;
}
.date {
	color: #009933;
	font-size: 0.80em;
}
.location {
	color: #009933;
	font-size: 0.80em;
}
.events-and-media > div > ul {
	list-style: none;
}
.boxlink {
	color: inherit;
}
.boxlink:hover {
	text-decoration: none;
	color: inherit;
}
.boxlink > div {
	padding: 1%;
	padding-top: 0.25%;
}
.boxlink:hover > div {
	background-color: #F1F1F1;
}
.no-hyperlink {
	color: black;
	text-decoration: none;
}
.no-hyperlink:hover {
	text-decoration: underline;
}


/* Footer Bar */
.footer-copyright {
	float:left;
}
.footer-links {
	float: right;
}
.footer-links > ul > li > a {
	color: #33cc33;
	text-decoration: underline;
}
.footer-links > ul > li > a:hover {
	color: #009933;
}
.footer-image {
	float: left;
	width: inherit;
}